<%# <h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p> %>


<h1>投稿記事一覧</h1>
<div class="article-container">
  <% @articles.each do |article| %>
  <div class="article">
    <h2 class="article-title">
      <%= link_to article.title, article %>
    </h2>
    <div class="article-bottom">
      <div class="author">
        <p class="author-name">test user</p>
        <%= tag.p article.created_at, class:"posted-date" %>
      </div>
      <div class="tags">
        <div class="tag">test1</div>
        <div class="tag">test2</div>
      </div>
    </div>
  </div>
  <% end %>
</div>
