<%# <h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p> %>

<%= tag.h1 @article.title %>
<div class="article-container">
  <div class="article">
    <div class="author">
      <p class="author-name">test user</p>
      <%= tag.p @article.created_at, class:"posted-date" %>
    </div>
    <%= tag.p @article.body, class:"article-body" %>
    <div class="article-bottom">
      <div class="tags">
        <div class="tag">test1</div>
        <div class="tag">test2</div>
      </div>
      <div class="button">
        <a href="/articles/1/edit" class="edit-button">Edit</a>
        <a href="" class="delete-button">Delete</a>
      </div>
    </div>
  </div>
</div>
