<%# <h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p> %>

<h1>タイトル</h1>
<div class="article-container">
  <div class="article">
    <div class="author">
      <p class="author-name">test user</p>
      <p class="posted-date">2023/12/23</p>
    </div>
    <p class="article-body">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="article-bottom">
      <div class="tags">
        <div class="tag">test1</div>
        <div class="tag">test2</div>
      </div>
      <div class="button">
        <a href="/articles/1/edit" class="edit-button">Edit</a>
        <a href="" class="delete-button">Delete</a>
      </div>
    </div>
  </div>
</div>
